## Answer

> Answer Example

```json
"answer": {
  "values": [
    "string"
  ],
  "questionType": "None",
  "repeatableGroupId": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
}
```

The `Answer` schema is used in the [Question](#question) schema and contains the following properties:

| Attribute         | Type                                                                                                      | Description                                   |
| ----------------- | --------------------------------------------------------------------------------------------------------- | --------------------------------------------- |
| values            | _String[]_                                                                                                | The possible options to the question.         |
| questionType      | _["None", "FreeText", "Number", "SingleSelect", "Date", "MultipleSelect", "YesNo", "Document", "Taxonomy"]_ | The input types of the questions.             |
| repeatableGroupId | _UUID_                                                                                                      | <span style="background-color:#39FF14">???</span> |
