## Contact

> An example Contact

```json
"contact": {
  "firstName": "John",
  "lastName": "Smith",
  "jobTitle": "CEO",
  "emailAddress": "john.smith@hellios.com",
  "phoneWorkCode": "???",
  "phoneWork": "phonenumber",
  "phoneMobileCode": "???",
  "phoneMobile": "mobilenumber"
}
```

The `Contact` schema is used in the [SupplierDetails](/#supplierdetails) schema and contains the following properties:

| Attribute       | Type   | Description                                    |
| --------------- | ------ | ---------------------------------------------- |
| firstName       | _String_ | The first name of the contact.                 |
| lastName        | _String_ | The last name of the contact.                  |
| jobTitle        | _String_ | The job title of the contact.                  |
| emailAddress    | _String_ | The email address of the contact.              |
| phoneWorkCode   | _String_ | <span style="background-color:#39FF14">???</span> |
| phoneWork       | _String_ | The work phone number of the contact.          |
| phoneMobileCode | _String_ | <span style="background-color:#39FF14">???</span> |
| phoneMobile     | _String_ | The mobile phone number of the contact.        |
