## Question

> An example Question

```json
"question": {
  "reportLabel": "string",
  "response": {
    "values": [
      "string"
    ],
    "questionType": "None",
    "repeatableGroupId": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
  },
  "document": {
    "documentId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
    "fileName": "string"
  },
  "taxonomy": [
    {
      "taxonomyId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
      "description": "string",
      "code": "string"
    }
  ]
}
```

The `Question` schema is returned from the [GetSupplierDetails](/#getsupplierdetails) method and contains the following properties:

| Attribute   | Type                               | Description                                                                        |
| ----------- | ---------------------------------- | ---------------------------------------------------------------------------------- |
| reportLabel | _String_                             | Report label as visible via reporting module UI                                    |
| response    | _<a href="#answer">Answer</a>_     | The type and answers to the question <span style="background-color:#39FF14">???</span> |
| document    | _<a href="#document">Document</a>_   | <span style="background-color:#39FF14">???</span>                                      |
| taxonomy    | _<a href="#taxonomy">Taxonomy[]</a>_ | <span style="background-color:#39FF14">???</span>                                      |
