## <span style="background-color:#39FF14">GetTemplateDetails.AnswerOption<span>
<span style="background-color:#39FF14">Should this be called GetReportLabels.AnswerOption</span>
> Taxonomy Example

```json
"answerOption": {
        "value": "string"
      }
```

The `AnswerOption` schema is used in the [GetTemplateDetails.Question](#gettemplatedetails-question) schema and contains the following properties:

| Attribute                     | Type                                                                                                            | Description                                       |
| ----------------------------- | --------------------------------------------------------------------------------------------------------------- | ------------------------------------------------- |
| value                       | _String_                                                                                                        | A possible answer to the question              |
