## SpecificFieldValue

> An example SpecificFieldValue

```json
"specificFieldValue":{
  "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
  "fieldId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
  "value": "string"
}
```

The `SpecificFieldValue` schema is used in the [SpecificField](/#specificfield) schema and contains the following properties:

| Attribute | Type   | Description                                   |
| --------- | ------ | --------------------------------------------- |
| id        | _UUID_   | The specific field values unique identifier   |
| fieldId   | _UUID_   | The associated fields unique identifier       |
| value     | _String_ | <span style="background-color:#39FF14">???</span> |
