## SpecificField

> SpecificField Example

```json
"specificField":{
  "id": "string",
  "name": "string",
  "type": "Document",
  "businessValue": "None",
  "options": [
    {
      "id": "string",
      "text": "string",
      "order": 0
    }
  ],
  "values": [
    {
      "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
      "fieldId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
      "value": "string"
    }
  ],
  "order": 0
}
```

The `SpecificField` schema is returned from the [GetSupplierDetails](/#getsupplierdetails) method and contains the following properties:

| Attribute     | Type                                                                     | Description                                   |
| ------------- | ------------------------------------------------------------------------ | --------------------------------------------- |
| id            | _UUID_                                                                     | The specific fields unique identifier         |
| name          | _String_                                                                   | <span style="background-color:#39FF14">???</span> |
| type          | _["Document", "Text", "MultilineText", "Select", "MultiSelect", "Toggle"]_| The input type of the options                 |
| businessValue | _["None", "VendorStatus", "SupplierInactive", "BusinessUnits"]_            | <span style="background-color:#39FF14">???</span> |
| options       | _[SpecificFieldOption[]](/#specificfieldoption)_                           | <span style="background-color:#39FF14">???</span> |
| values        | _[SpecificFieldValue[]](/#specificfieldvalue)_                             | <span style="background-color:#39FF14">???</span> |
| order         | _Integer_                                                                  | <span style="background-color:#39FF14">???</span> |
