## SpecificFieldOption

> An example SpecificFieldOption

```json
"specificFieldOption":{
  "id": "string",
  "text": "string",
  "order": 0
}
```

The `SpecificFieldOption` schema is used in the [SpecificField](/#specificfield) schema and contains the following properties:

| Attribute | Type    | Description                                   |
| --------- | ------- | --------------------------------------------- |
| id        | _UUID_    | The specific field options unique identifier  |
| text      | _String_  | <span style="background-color:#39FF14">???</span> |
| order     | _Integer_ | <span style="background-color:#39FF14">???</span> |
