## SupplierDetails

> SupplierDetails Example

```json
"supplier": {
  "helliosId": "string",
  "name": "string",
  "latestHScore": {
    "date": "2022-11-28T10:59:14.694Z",
    "score": 0
  },
  "riskLevel": "None",
  "smeLevel": "None",
  "ragwStatus": "None",
  "questionnaireStatus": "None",
  "documentStatus": "None",
  "overallStatus": "None",
  "primaryContact": {
    "firstName": "string",
    "lastName": "string",
    "jobTitle": "string",
    "emailAddress": "string",
    "phoneWorkCode": "string",
    "phoneWork": "string",
    "phoneMobileCode": "string",
    "phoneMobile": "string"
  },
  "completionDeadlineDate": "2022-11-28T10:59:14.694Z",
  "renewalDeadlineDate": "2022-11-28T10:59:14.694Z"
}
```

The `SupplierDetails` schema is returned from the [GetSupplierDetails](#getsupplierdetails) method and contains the following properties:

| Attribute              | Type                                                                                                                                                                                        | Description                                                                  |
| ---------------------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | ---------------------------------------------------------------------------- |
| helliosId              | _UUID_                                                                                                                                                                                        | Unique Hellios ID issued to each supplier                                    |
| name                   | _String_                                                                                                                                                                                      | Name of the supplier                                                         |
| latestHScore           | _[HScore](#hscore)_                                                                                                                                                                          | Latest HScore for the supplier <span style="background-color:#39FF14">???</span> |
| riskLevel              | _["None", "Low", "Medium", "High"]_                                                                                                                                                           | <span style="background-color:#39FF14">???</span>                                |
| smeLevel               | _["None", "Micro", "Small", "Medium", "Large", "Undetermined"]_                                                                                                                               | <span style="background-color:#39FF14">???</span>                                |
| ragwStatus             | _["None", "Red", "Amber", "Green", "White"]_                                                                                                                                                  | <span style="background-color:#39FF14">???</span>                                |
| questionnaireStatus    | _["None", "Invited", "InProgress", "Invalidation", "UpdateInValidation", "Completed", "RenewalInvited", "RenewalInProgress", "RenewalInValidation", "Expired", "DocumentUpdateInValidation"]_ | <span style="background-color:#39FF14">???</span>                                |
| documentStatus         | _["None", "Red", "Amber", "Green", "White"]_                                                                                                                                                  | <span style="background-color:#39FF14">???</span>                                |
| overallStatus          | _["None", "Red", "Amber", "Green", "InValidation", "UpdateInValidation", "RenewalInValidation"]_                                                                                              | <span style="background-color:#39FF14">???</span>                                |
| primaryContact         | _[Contact](#contact)_                                                                                                                                                                        | Primary contact for the supplier                                             |
| completionDeadlineDate | _Date/Time (yyyy-MM-ddThh:mm:ss:SSSZ)_                                                                                                                                                        | <span style="background-color:#39FF14">???</span>                                |
| renewalDeadlineDate    | _Date/Time (yyyy-MM-ddThh:mm:ss:SSSZ)_                                                                                                                                                        | <span style="background-color:#39FF14">???</span>                                |
