## Taxonomy

> Taxonomy Example

```json
"taxonomy": {
  "taxonomyId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
  "description": "string",
  "code": "string"
}
```

The `Taxonomy` schema is used in the [Question](/#question) schema and contains the following properties:

| Attribute   | Type   | Description                                   |
| ----------- | ------ | --------------------------------------------- |
| taxonomyId  | _UUID_   | The unique identifier of the taxonomy         |
| description | _String_ | The description of the taxonomy               |
| code        | _String_ | <span style="background-color:#39FF14">???</span> |
