<a name="GetDocumentMethod"></a>
## GetDocument
The <code>GetDocument</code> method can be used to retrieve a specifc document related to a supplier (for example a supplier's Public Liability Insurance Certificate.) This method requires a document identifier to be provided, to identify the document required. Document IDs can be obtained using the <code>GetSupplierDetails</code> method, detailed above.

###Endpoint
<code>GET /v1_0/buyer/supplier/document/{documentIdentifier}</code>

###Parameters
The <code>GetDocument</code> method accepts the following parameters.

<code>documentIdentifier</code>

Use to specify which document you want to retrieve. The documentId value is a 16-digit, alphanumeric *guid* and will look similar to '1234-sdfsd-we34-QEW3'.

*Type:* String
*Value(s):* documentIdentifier (obtained from <code>GetSupplierInformation</code> method)<br/>
*Requirement:* Required

###GetDocument Response
The <code>GetSuppliers</code> method returns the PDF file of the document requested.

**Buyer Specific Fields**

Please note that buyer specific fields can also be documents. In this instance, please use the <code>GetDocument</code> method as per these instructions.


