<a name="GetTemplateMethod"></a>
## GetTemplate
The <code>GetTemplate</code> method can be used to retrieve the actual question text that the supplier was presented with when providing their answers and information. 

We recommend only using this method perodically as the data returned is large (all text for all questions is returned) and is purely for reference (lookup) purposes. 

Typically this method would only be used when first building an integration with the Hellios API or when a new questionnaire is published, which currently happens <span style="background-color:#39FF14">annually??????????</span>

###Endpoint
<code>GET /buyer/template/v1_0</code>

###Parameters
The <code>GetTemplate</code> method does not require any parameters.


###Response
The <code>GetTemplate</code> method returns the following attributes.

Attribute | Type | Description
--- | --- | ---
Question Text | *String* | Questionnaire, question text as presented to supplier via UI
Report Label | *String* | Report label as visible via reporting module UI

Example response:

<span style="font-family:'Courier New';">
{<br/>
    questionText: "What ..."<br/>
    reportLabel: "What ..."<br/>
},<br/>
{<br/>
    questionText: "What ..."<br/>
    reportLabel: "What ..."<br/>
}
</span>

<span style="background-color:#39FF14">NEED SOME ACTUAL EXAMPLES</span>


