<a name="GetSuppliersMethod"></a>

## GetSuppliers

The <code>GetSuppliers</code> method can be used to retrieve a list of suppliers from the Hellios platform via the external API. 

The method accepts various parameters to allow you to:

- Search for a specific group of suppliers
- Choose between all suppliers or only those tagged to your organisation
- Include 'expired' suppliers

<code>GetSuppliers</code> is the typical starting point for most interactions with the Hellios API. The response includes the <code>externalId</code> value for each supplier, which is required when using the <code>GetSupplierDetails</code> method.

### Endpoint

<code>GET /v1_0/buyer/supplier</code>

### Parameters

The <code>GetSuppliers</code> method accepts the following parameters.

**<code>searchTerm</code>**

Can be used to search for a specific group of suppliers or an individual supplier. The <code>searchTerm</code> parameter accepts alphanumeric characters to search for

- Supplier name
- Location
- Company registration number
- Trading name, trading name2 or trading name 3
- Vendor ID to search for suppliers tagged to your organisation
- Hellios ID to search for an individual supplier. 

When searching against supplier name(s), the search will look for a contained match to the characters specified in the search term, within any part of the supplier name. Please note: the search does not accept wildcard characters.

_Type_: String<br/>
_Value(s):_ Alphanumeric characters (min 3 alphanumeric characters), Vendor ID or Hellios ID<br/>
_Requirement:_ Optional

**<code>onlyTagged</code>**

To get data for only those suppliers tagged to your organisation, set this parameter to True.

_Type_: Boolean<br/>
_Value(s):_ False (default), True<br>
_Requirement:_ Optional (if not specified, will default to False)

**<code>includeExpired</code>**

To include suppliers whose information has expired within your search results, set this parameter to True.

_Type_: Boolean<br/>
_Value(s):_ False (default), True<br>
_Requirement:_ Optional (if not specified, will default to False)

<a name="GetSuppliersPageSize"></a>
**<code>pageSize</code>**

We recommend specifying a page size to limit the total number of results returned via each API call. Use this parameter to set the number of records to be returned per page. All responses will include the number of pages of results available. Please note: <code>pageSize</code> is a mandatory field.

_Type_: Integer ($int32)<br/>
_Value(s):_ Numeric Integer (min. 1 / no max.)<br>
_Requirement:_ Required

**<code>pageIndex</code>**

Used in conjunction with the <code>pageSize</code> parameter, <code>pageIndex</code> allows a specific page of results to be returned. All responses will include the number of pages of results available. Please note: <code>pageIndex</code> is a mandatory field.


_Type_: Integer ($int32)<br/>
_Value(s):_ Numeric Integer (min. 1 / no max.)<br>
_Requirement:_ Required

### GetSuppliers Response

> Example JSON Response

```json
{
  "records": [
    {
      "externalId": "string",
      "companyName": "string",
      "location": "string",
      "vendorId": "string",
      "lastPublished": "2022-11-28T09:15:48.056Z",
      "questionnaireStatus": "None",
      "questionnaireRagStatus": "None",
      "tagged": true,
      "helliosId": "string",
      "riskLevel": "None",
      "documentRagStatus": "None",
      "companyRegistrationNumber": "string",
      "lastUpdate": "2022-11-28T09:15:48.056Z"
    }
  ],
  "totalNumberOfRecords": 0,
  "totalNumberOfPages": 0,
  "totalNumberOfTagged": 0
}
```

The <code>GetSuppliers</code> method returns a collection of suppliers appropriate to the parameters specified when calling the API. For each supplier in the collection, the following attributes are returned.<br/>
<code>GetSuppliers</code> also returns three additional attributes to assist with pagination of future API calls when utilising the <code>pageSize</code> and <code>pageIndex</code> parameters as set out <a href="#GetSuppliersPageSize">above</a>.

| Attribute            | Type                             | Description                                                     |
| -------------------- | -------------------------------- | --------------------------------------------------------------- |
| records              | _[SearchSuppliers.SupplierInfo[]](#searchsuppliers-supplierinfo)_ | An array of suppliers that match the search criteria.           |
| totalNumberOfRecords | _Integer_                          | Number of supplier records returned in the results              |
| totalNumberOfPages   | _Integer_                          | Number of pages of records returned                             |
| totalNumberofTagged  | _Integer_                          | Number of supplier records that are tagged to your organisation |
