---
title: Hellios API

language_tabs: # must be one of https://git.io/vQNgJ
  - c#
  - php
  - javascript

toc_footers:
  # - <a href='#'>Sign Up for a Developer Key</a>
  # - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

includes:
  - hellios/introduction.md.erb
  - hellios/authentication.md.erb
  - hellios/methods.md.erb
  - hellios/example_use_cases.md.erb
  - hellios/errors.md.erb
  # - examples/introduction.md
  # - examples/authentication.md
  # - examples/kittens.md
  # - examples/errors.md

search: true

code_clipboard: true

meta:
  - name: description
    content: Documentation for the Hellios API
---
